body{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
    
    font-family:fantasy;
    color: white;
}
header{
    height: 25px;
}
nav {
    margin-left: 36em;
}
.rep_container{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    
    
}
.rep_basic_info{
    flex: 4;
}
.rep_name{
    font-size: 150%;
}
.tn_img{
    margin-bottom: 12em;
}
.committes_and_leg_container{
    display: flex;
    justify-content: flex-start;
    
    
    
}
.rep_committes{
    flex-basis: 50%;
}
.rep_committes ul{
    margin: 0;
    padding: 0;
}
.committes{
    list-style-type: none;
    font-size: 1.5em;
}
.contact{
    vertical-align: top;
    margin-left: 12em;
}
aside{
    display: flex;
    flex-wrap: wrap;
}
aside p a{
    color: aqua
}
aside ul{
    padding: 0;
}
aside ul li{
    list-style-type: none;
    
}
aside ul li a{
    text-decoration: none;
    font-size: 1.5em;
    color: mediumaquamarine;
}
aside ul li a:hover{
    color: red;
}
aside ul li a:active{
    color: lime;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover{
    color:darkcyan;
}

.socialmedia img{
    width: 10%;
}